<h1>Demo#hello</h1>
<p>Hello world!</p>
<%=1+1 %>
<br/>
<br/>
<% target = 'world' %>
<%= "Hello #{target}" %>

<% @array.each do |n| %> 
<%= n %>  </br>
<% end %>
<br />

ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Page: <%= params[:page] %><br />
Page: <%= @page %><br />
Next Page: <%= @page +1 %><br />
<hr />
<%= params.inspect %>
