<h1>Demo#index</h1>
<p>Hello from index</p>
<a href='/demo/hello'>Hello page!</a><br />
<%= link_to('Hello page2', {:action => 'hello'}) %><br />

<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :name => 'abcd', :id => 20}) %>

<br />

<% name = "Tanya" %>
<% name = "Sorry!'); alert(' I hacked you" %>

<%= link_to('Roar', '#', :onclick => "jsRoar('#{j(name)}'); return true;") %>

<%= javascript_tag("jsRoar('#{j(name)}');") %>


