<% @page_title = "Admin Menu" %>

<div class="menu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as:</div>
  <button type="button"><a href="" id="my_button" style='text-decoration:none;' onclick="return false">Click</a></button>


<div>
  <ul>
    <li><%=link_to("Manage content", {:controller => "subjects", :action => "index"}) %></li>

    <li><%=link_to("Logout", {:controller => "access", :action => "logout"}) %></li>
    <li><%=link_to("Summary sections report", {:controller => "summary_reports", :action => "index"}) %></li>
    <li><%=link_to("Detailed report", {:controller => "summary_reports", :action => "detailed"}) %></li>
  </ul>
</div>
<div>
  <ul id="list">
  </ul>
</div>

<button type="button"><a href="" id="summary_report_button" style='text-decoration:none;' onclick="return false">Summary Report</a></button>
    <div class="subjects index hidden" id="list1">
      <h2>Summary Content Report</h2>
      <table class="listing" summary="Summary list">
        <thead>
      <tr class="header">
        <th>Section name</th>
        <th>Section ID</th>
        <th>Section position</th>
        <th>Section topic</th>
        <th>Section type</th>
        <th>Section visible</th>
        <th>Page name</th>
        <th>Page ID</th>
        <th>Page permalink</th>
        <th>Page position</th>
        <th>Page visible</th>
        <th>Subject name</th>
        <th>Subject ID</th>
        </tr>
        <thead>
        <tbody id="table_content" ></tbody>
      </table>
    </div>
  </div>

<button type="button"><a href="" id="detailed_report_button" style='text-decoration:none;' onclick="return false">Detailed Report</a></button>
<div class="subjects index hidden" id="list2">
  <h2>Detailed Content Report</h2>
  <table class="listing" summary="Summary list">
    <thead>
    <tr class="header">
      <th>Subject ID</th>
      <th>Subject name</th>
      <th>Subject position</th>
      <th>Subject visible</th>
      <th>Page ID</th>
      <th>Page name</th>
      <th>Page permalink</th>
      <th>Page position</th>
      <th>Page visible</th>
      <th>Section name</th>
      <th>Section ID</th>
      <th>Section position</th>
      <th>Section topic</th>
      <th>Section type</th>
      <th>Section visible</th>
    </tr>
    <thead>
    <tbody id="table_content_detailed" ></tbody>
  </table>
</div>
</div>