<% @page_title = "Sections" %>

<%= link_to("<< Back to Pages", {:controller => 'pages', :action => 'index', :page_id => @page.id, :subject_id => @subject.id}, :class => 'back-link') %>

<div class="sections index">
  <h2>Sections</h2>

  <%= link_to(image_tag('plus_sign.png', :size => '11x11', :alt => '+')+"Add New Section", {:action => 'new', :page_id => @page.id, :subject_id => @subject.id}, :class => 'action new') %>
  <div><%=pluralize(@sections.size, 'section') %> found </div>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>Position</th>
      <th>Page ID</th>
      <th>Section</th>
      <th>Topic</th>
      <th>Content Type</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>
        <tr>
          <td><%= section.position %></td>
          <td><%= section.page_id %></td>
          <td><%= section.name %></td>
          <td><%= section.topic %></td>
          <td><%= section.content_type %></td>
          <td class="center"><%= status_tag(section.visible) %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show', :id => section.id, :page_id => @page.id, :subject_id => @subject.id}, :class => 'action show') %>
            <%= link_to("Edit", {:action => 'edit', :id => section.id, :page_id => @page.id, :subject_id => @subject.id}, :class => 'action edit') %>
            <%= link_to("Delete", {:action => 'delete', :id => section.id, :page_id => @page.id, :subject_id => @subject.id}, :class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
