<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2><br/><br/>

  <%= error_messages_for(@subject) %>

  <%= form_for(:subject, :url => {:action => 'create'}) do |f| %>

      <table summary="Subject Form fields">
        <tr>
          <th><%= f.label(:name) %></th>
          <td><%= f.text_field(:name) %></td>
        </tr>
        <tr>
          <th><%= f.label(:position) %></th>
          <td><%= f.text_field(:position) %></td>
        </tr>
        <tr>
          <th><%= f.label(:visible) %></th>
          <td><%= f.text_field(:visible) %></td>
        </tr>
        <tr>
          <th><%= f.label(:created_at) %></th>
          <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %></td>
        </tr>
      <% end %>

      </table>
      <div class="form-buttons">
        <%= submit_tag("Create Subject") %>
      </div>
</div>
