<div class="subjects index" id="report_header">
  <h2>Summary Content Report</h2><table class="listing" summary="Summary list">
  <tr class="header">
    <th>Section name</th>
    <th>Section ID</th>
    <th>Section position</th>
    <th>Section topic</th>
    <th>Section type</th>
    <th>Section visible</th>
    <th>Page name</th>
    <th>Page ID</th>
    <th>Page permalink</th>
    <th>Page position</th>
    <th>Page visible</th>
    <th>Subject name</th>
    <th>Subject ID</th>
  </tr>
</table>
</div>