<% @page_title = "Summary Content Report" %>

<%= link_to("<< Back to menu", {:controller => 'access', :action => 'index',}, :class => 'back-link') %>

<div class="subjects index">
  <h2>Summary Content Report</h2><table class="listing" summary="Summary list">
    <tr class="header">
      <th>Section name</th>
      <th>Section ID</th>
      <th>Section position</th>
      <th>Section topic</th>
      <th>Section type</th>
      <th>Section visible</th>
      <th>Page name</th>
      <th>Page ID</th>
      <th>Page permalink</th>
      <th>Page position</th>
      <th>Page visible</th>
      <th>Subject name</th>
      <th>Subject ID</th>
    </tr>
    <%  @sections.each do |x| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= x.name %></td>
          <td><%= x.id %></td>'
          <td><%= x.position %></td>
          <td><%= x.topic %></td>
          <td><%= x.content_type %></td>
          <td class="center"><%= status_tag(x.visible) %></td>
          <td><%= x.page.name %></td>
          <td><%= x.page_id %></td>'
          <td><%= x.page.permalink %></td>
          <td><%= x.page.position %></td>
          <td class="center"><%= status_tag(x.page.visible) %></td>
          <td><%= x.page.subject.name %></td>
          <td><%= x.page.subject.id %></td>
        </tr>
    <% end %>

  </table>
</div>
