<h2>Array</h2>

<div> <%=@combined.each do |combination| %>
  <%= combination %><br/><br/>
      </div>
<% end %>

  <% @page_title = "Summary Content Report" %>

  <%= link_to("<< Back to menu", {:controller => 'access', :action => 'index',}, :class => 'back-link') %>

  <div class="subjects index">
    <h2>Summary Content Report</h2>

    <table class="listing" summary="Summary list">
      <tr class="header">
        <th>Subject name</th>
        <th>Subject ID</th>
        <th>Page name</th>
        <th>Page ID</th>
        <th>Page permalink</th>
        <th>Page position</th>
        <th>Page visible</th>
        <th>Section name</th>
        <th>Section ID</th>
        <th>Section position</th>
        <th>Section topic</th>
        <th>Section type</th>
        <th>Section visible</th>
      </tr>
      <% @combined.each do |x| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= x.subject_id %></td>
            <td><%= x.subject_name %></td>
            <td><%= x.subject_position %></td>
            <td class="center"><%= status_tag(x.subject_visible) %></td>
            <td><%= x.page_id %></td>
            <td><%= x.page_name %></td>
            <td><%= x.page_permalink %></td>
            <td><%= x.page_position %></td>
            <td class="center"><%= status_tag(x.page_visible) %></td>
            <td><%= x.section_name %></td>
            <td><%= x.section_id %></td>
            <td><%= x.section_position %></td>
            <td><%= x.section_topic %></td>
            <td><%= x.section_content_type %></td>
            <td class="center"><%= status_tag(x.section_visible) %></td>
          </tr>
      <% end %>

    </table>
  </div>